<extend name="@admin:layout"/>
<block name="content">
    <div class="form-group">
        <label>需重新退款的任务延迟执行秒数</label>
        <div class="input-group">
            <input type="number" class="form-control" name="data[refund_submit_delay]" value="{$info.refund_submit_delay|default='3600'}" placeholder="请输入秒"/>
            <div class="input-group-addon">秒</div>
        </div>
        <div class="help-block no-margin-bottom">一般无需调整该项，除非退款任务积压过多</div>
    </div>


    <div class="form-group no-margin-bottom">
        <label>需重新查询退款状态的任务延迟查询秒数</label>
        <div class="input-group">
            <input type="number" class="form-control" name="data[refund_query_delay]" value="{$info.refund_query_delay|default='3600'}" placeholder="请输入秒"/>
            <div class="input-group-addon">秒</div>
        </div>
        <div class="help-block no-margin-bottom">一般无需调整该项，除非退款查询任务积压过多</div>
    </div>
</block>