<extend name="@admin:layout"/>
<block name="content">
    <div data-search=""
         role-search-select-value="{$select_fields}"
         role-search-select-text="{$select_values}"
         role-search-action="{$url.self}">
        <div role-search="content-left">
            <div class="form-group">
                <select class="form-control" name="static[pay_type]">
                    <option value="0">不限支付类型</option>
                    {$type_options}
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="static[status]">
                    <option value="0">不限状态</option>
                    {$status_options}
                </select>
            </div>
            <eq name="time_range_status" value="1">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" size="{$time_range_size}" data-date="{$time_range_format}" name="static[start_time]" placeholder="开始时间" value="{$time_range_start_time}"/>
                        <div class="input-group-addon">
                            <i class="icon icon-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" size="{$time_range_size}" data-date="{$time_range_format}" name="static[end_time]" placeholder="结束时间" value="{$time_range_end_time}"/>
                        <div class="input-group-addon">
                            <i class="icon icon-calendar"></i>
                        </div>
                    </div>
                </div>
            </eq>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th class="text-center" width="40">ID</th>
                <th class="text-center">退款描述</th>
                <th class="text-center" width="80">创建时间</th>
                <th class="text-center" width="80">退款金额</th>
                <th class="text-center" width="80">订单状态</th>
                <th class="text-center" width="100">所属会员</th>
            </tr>
            </thead>
            <tbody>
            <empty name="list">
                <tr>
                    <th colspan="16" class="empty-info">暂无相关数据</th>
                </tr>
                <else/>
                <foreach name="list" item="vo" key="i">
                    <tr class="text-center">
                        <td>{$vo.id}</td>
                        <td class="text-left text-vtop">
                            <div class="text-muted">
                                <b>退款原因：</b>
                                {$vo.remark|default="--"}
                            </div>
                            <div class="text-muted">
                                <b>退款单号：</b>
                                {$vo.refund_no|default="--"}
                            </div>
                            <div class="text-muted">
                                <b>业务单号：</b>
                                {$vo.order_trade_no|default="--"}
                            </div>
                            <div class="text-muted">
                                <b>支付单号：</b>
                                {$vo.pay_trade_no|default="--"}
                            </div>
                            <div class="text-muted">
                                <b>三方支付单号：</b>
                                {$vo.pay_api_trade_no|default="--"}
                            </div>
                            <div class="text-muted">
                                <b>三方退款单号：</b>
                                {$vo.api_refund_no|default="--"}
                            </div>
                            <eq name="vo.is_fail" value="1">
                                <div class="text-red">
                                    <b>退款失败原因：</b>
                                    {$vo.fail_remark|default="未知原因"}
                                </div>
                            </eq>
                        </td>
                        <td class="text-gray text-vtop">{$vo.format_create_time}</td>
                        <td class="text-vtop text-red">
                            <b>￥{$vo.refund_price}</b>
                            <div>{$vo.pay_type_name}</div>
                        </td>
                        <td class="text-vtop">
                            {$vo.status_name}
                        </td>
                        <td class="text-vtop">
                            {$vo.show_user|default="会员信息异常"}
                        </td>
                    </tr>
                </foreach>
            </empty>
            </tbody>
        </table>
    </div>
    {$page}
</block>
<block name="foot">
    <admin:js type="date"/>
</block>